.borderBox {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.foucs_background_purple {
  background: -webkit-gradient(linear, left top, left bottom, from(#a265e6), to(#a06bdc), color-stop(0.5, #965ad9), color-stop(0.5, #8246c6));
  background: -moz-linear-gradient(top, #a265e6, #965ad9 50%, #8246c6 50%, #a06bdc);
}
#about xtag\:scrollpane {
  position: absolute !important;
  left: 0;
  top: 0;
}
#about .top {
  height: 100%;
  min-height: 400px;
  text-align: center;
  box-align: center;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-pack: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
}
#about .top .logo {
  width: 100px;
  height: 100px;
  background: url("images/logo.png") no-repeat;
  background-size: cover;
  margin: auto;
  margin-bottom: 30px;
  animation-name: logo_ani;
  -moz-animation-name: logo_ani;
  -webkit-animation-name: logo_ani;
  animation-duration: 600ms;
  -moz-animation-duration: 600ms;
  -webkit-animation-duration: 600ms;
  animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-direction: normal;
  -moz-animation-direction: normal;
  -webkit-animation-direction: normal;
  animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-delay: 0s;
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
#about .top .appName {
  font-size: 30px;
  font-weight: bolder;
  margin-top: 10px;
  color: #353a3c;
  text-shadow: 0 2px 8px #b5bdbf;
}
#about .top .version {
  margin-top: 5px;
}
#about .top .grade {
  display: block;
  margin-top: 20px;
  padding: 10px;
  font-weight: bold;
  color: #6d84da;
  text-shadow: 0 1px 1px #ccc;
}
#about .info {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 10px 0;
  max-height: 100px;
  margin-bottom: 10px;
}
#about .info .link {
  text-align: center;
}
#about .info .link a {
  font-size: 18px;
  color: #6d84da;
  padding: 2px 10px;
}
#about .info .copyright {
  padding-top: 10px;
  text-align: center;
  font-size: 16px;
  color: #cccccc;
}
@-webkit-keyframes logo_ani {
  from {
    -webkit-transform: scale(0, 0);
    opacity: 0;
  }
  85% {
    -webkit-transform: scale(1.1, 1.1);
  }
  to {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
}
