.borderBox {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.foucs_background_purple {
  background: -webkit-gradient(linear, left top, left bottom, from(#a265e6), to(#a06bdc), color-stop(0.5, #965ad9), color-stop(0.5, #8246c6));
  background: -moz-linear-gradient(top, #a265e6, #965ad9 50%, #8246c6 50%, #a06bdc);
}
#appDetail {
  background-color: #f2f2f2;
}
#appDetail .content {
  position: absolute !important;
}
#appDetail .head {
  padding: 15px;
  background-color: #ffffff;
}
#appDetail .head .icon {
  width: 120px;
  max-width: 120px;
  min-width: 120px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#appDetail .head .icon img {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
}
#appDetail .head .info {
  padding: 10px 0;
}
#appDetail .head .info > div {
  box-flex: 1;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  padding: 3px 0;
}
#appDetail .head .info .version {
  font-size: 17px;
  color: #cbcbcb;
  min-height: 10px;
}
#appDetail .head .info .name {
  font-size: 25px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#appDetail .head .info .updateDate {
  color: #cbcbcb;
  font-size: 15px;
}
#appDetail .head .control {
  width: 124px;
  max-width: 124px;
  min-width: 124px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#appDetail .head .control #action {
  position: relative;
  display: block;
  width: 124px;
  font-size: 25px;
  margin-top: 6px;
  margin-bottom: 10px;
  color: #4bc0d1;
  border: solid 1px #4bc0d1;
  border-radius: 10px;
  overflow: hidden;
}
#appDetail .head .control #action:active {
  background-color: #4bc0d1 !important;
  color: #ffffff;
}
#appDetail .head .control #action:disabled {
  visibility: hidden;
}
#appDetail .head .control #action .progress {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: #7ed980;
  border-radius: 10px;
}
#appDetail .head .control #action .label {
  position: relative;
  z-index: 99;
}
#appDetail .head .control #action:before {
  color: #2B2B2B;
}
#appDetail .head .control #action[name="downloading"]:before {
  content: " ";
}
#appDetail .head .control #action[name="downloading"] .progress {
  display: block;
}
#appDetail .head .control #action[name='pause']:before {
  content: "";
}
#appDetail .head .control #action[name='pause'] .progress {
  display: block;
}
#appDetail .head .control #action[name='install']:before {
  content: "安装";
}
#appDetail .head .control #action[name='installed']:before {
  content: "启动";
}
#appDetail .head .control .hearts {
  margin-top: 20px;
  width: 124px;
  height: 24px;
  max-height: 24px;
  min-height: 24px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden;
  background: url("images/star.png") no-repeat;
  background-position: 0 0;
}
#appDetail .head .control .hearts[data-star='1'] {
  background-position: 0 -24px;
}
#appDetail .head .control .hearts[data-star='2'] {
  background-position: 0 -48px;
}
#appDetail .head .control .hearts[data-star='3'] {
  background-position: 0 -72px;
}
#appDetail .head .control .hearts[data-star='4'] {
  background-position: 0 -96px;
}
#appDetail .head .control .hearts[data-star='5'] {
  background-position: 0 -120px;
}
#appDetail .preview {
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-color: #d9d9d9;
}
#appDetail #previewScroll > div,
#appDetail #preview_full > div {
  width: auto;
  display: inline-block;
  height: 100%;
}
#appDetail #previewScroll ul,
#appDetail #preview_full ul {
  display: inline-block;
  height: 100%;
  white-space: nowrap;
}
#appDetail #previewScroll ul li,
#appDetail #preview_full ul li {
  display: inline-block;
  margin: 10px;
}
#appDetail #previewScroll ul li > img,
#appDetail #preview_full ul li > img {
  width: 200px;
  height: 280px;
}
#appDetail .intro {
  padding: 20px;
}
#appDetail .intro > h1 {
  font-weight: bold;
  font-size: 26px;
}
#appDetail .intro .detail {
  display: block;
  margin-top: 10px;
  line-height: 25px;
  font-size: 18px;
}
#appDetail #shareMenu {
  display: none;
  position: absolute;
  z-index: 199;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#appDetail #shareMenu.block {
  display: block;
}
#appDetail #shareMenu > div {
  width: 100%;
  background-color: #ffffff;
  -webkit-transform-origin: top center;
  -webkit-animation: showMenu 220ms ease-out;
}
#appDetail #shareMenu > div button {
  box-flex: 1;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  width: 25%;
  max-width: 25%;
  min-width: 25%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  height: 140px;
  background-color: #f0f4f6;
  border: solid 1px #e3e3e3;
}
#appDetail #shareMenu > div button .icon {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
  background: url("images/icon/1.png") no-repeat;
  background-position: 0 0;
}
#appDetail #shareMenu > div button:active .icon {
  background-position: -50px 0;
}
#appDetail #shareMenu > div button label {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 19px;
}
#appDetail #shareMenu > div button.sms .icon {
  background-image: url("images/icon/11.png");
}
#appDetail #shareMenu > div button.email .icon {
  background-image: url("images/icon/12.png");
}
#appDetail #shareMenu > div button.sina .icon {
  background-image: url("images/icon/13.png");
}
#appDetail #shareMenu > div button.tencent .icon {
  background-image: url("images/icon/14.png");
}
#appDetail .full_screen {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 0;
  box-pack: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
}
#appDetail .full_screen #preview_full > div {
  height: 100%;
}
#appDetail .full_screen #preview_full ul li {
  margin: 10px 0;
  height: 100%;
}
#appDetail .full_screen #preview_full ul li > img {
  display: block;
  margin: auto;
  width: 95%;
  height: 95%;
}
#appDetail .full_screen .pages {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: block;
  height: 60px;
  max-height: 60px;
  min-height: 60px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 19px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 1px 1px 5px #000000;
  text-align: center;
}
#appDetail .download_link_button {
  display: none;
  position: absolute;
  right: 15px;
  bottom: 20px;
  width: 48px;
  height: 48px;
  background: url("images/download_icon.png") no-repeat;
  background-size: cover;
  -webkit-animation: showMenu 220ms ease-in-out;
}
html[platform='ios'][osver^="7"] #appDetail .full_screen #preview_full {
  margin-top: 20px;
}
html[platform='ios'][osver^="7"] #appDetail .full_screen #preview_full ul li {
  height: 90%;
}
@-webkit-keyframes showMenu {
  from {
    opacity: .5;
    -webkit-transform: scale(0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1, 1);
  }
}
@-webkit-keyframes showDownloadButton {
  from {
    -webkit-transform: scale(0, 0) rotate(60deg);
  }
  80% {
    -webkit-transform: scale(0.7, 0.7) rotate(20deg);
  }
}
