<!DOCTYPE html>
<html>
<head>
    <title>应用中心</title>
    <link rel="stylesheet" href="res/appCenter.css"/>
    <script>
        var page = this;
        var actionButton = page.child(".radio button");
        var menu = page.child(".menu"),classifyNav = page.child("#classify"),orderNav = page.child("#order");
        (function initCurtainNav(){
            menu.close = function(){
                this.removeAttribute("data-menu");
                actionButton.removeClass("checked");
            };
            menu.open = function(type){
                this.setAttribute("data-menu",type);
                actionButton.removeClass("checked");
                menu.child(".radio [data-type='"+type+"']").addClass("checked");
            };
            menu.bind("click",function(e){
                if(e.target === e.currentTarget)menu.close();
            });
            actionButton.bind("click",function(){
                if(this.hasClass("checked")){
                    menu.close();
                }else{
                    menu.open(this.getAttribute("data-type"));
                }
            });
            _$(classifyNav).delegate("button","click",function(){
                menu.close();
                actionButton[0].html(this.name);
                queryOption.reset();
                queryOption.label = this.getAttribute("data-var");
                reloadAppsHasLoadingBar();
            });
            _$(orderNav).delegate("button","click",function(){
                menu.close();
                actionButton[1].html(this.name);
                queryOption.orderBy = this.getAttribute("data-var");
                reloadAppsHasLoadingBar({
                    label:queryOption.label,
                    orderBy:queryOption.orderBy,
                    pageIndex:1,
                    pageSize:queryOption.pageIndex*queryOption.pageSize
                });
            });
        })();

        var temp = page.child("[data-role='template']"),scroll = page.child("#appList").removeClass("error");
        scroll.child(".wrapper").css("min-height",(window.innerHeight-70-60+2)+"px");
        var pull = scroll.child("#pull_refresh");
        scroll.on("snapUp",function(){
            pull.addClass("snap");
        });
        scroll.on("release",function(){
            pull.removeClass("snap");
        });
        scroll.on("reachBottom",function(){
             if(!queryOption.hasNext){
                 Dialog.toast("没有更多的数据");
                 return;
             }
            queryOption.pageIndex++;
            Loading.show();
            refreshApps(function(){
                Loading.hide();
            },function(){
                Loading.hide();
                queryOption.pageIndex--;
                Dialog.toast("数据加载失败");
            },true);
        });
        var queryOption = {
            label:"",
            orderBy:"",
            pageIndex:1,
            pageSize:10,
            hasNext:true,
            reset:function(){
                this.label = "";
                this.orderBy = "";
                this.pageIndex = 1;
                this.pageSize = 10;
                this.hasNext = true;
            }
        };
        function refreshApps(success,error,notEmpty,option){
            scroll.removeClass("error");
            xmesh.model["ApplicationManager"].getRemoteApps(option||queryOption,function(page){
                queryOption.hasNext = page.hasNext();
                var wrapper = scroll.child(".wrapper");
                if(!notEmpty)wrapper.empty();
                page.each(function(app){
                    var item = temp.get(".appItem",app).bind("click",function(){
                        xmesh.act('appDetail',this["resData"]);
                    });
                    wrapper.append(item);
                });
                scroll.refresh();
                if(success)success();
            },function(){
                scroll.addClass("error");
                if(error)error();
            });
        }
        (function initData(){
            Loading.show();
            xmesh.model["ApplicationManager"].getClassify(function(classifies){
                var wrapper;
                var list = [{name:"全部应用"}].concat(classifies);
                list.forEach(function(classify,i){
                    if(i%4==0)wrapper = $.Element("div").attribute("data-box","h").appendTo(classifyNav);
                    var item = temp.get(".filter_button",classify);
                    if(classify.icon)item.child(".icon").css({"background-image":"url("+classify.icon+")"});
                    wrapper.append(item);
                });
                reloadAppsHasLoadingBar();
            },function(){
                Loading.hide();
            });
        })();
        function reloadAppsHasLoadingBar(option){
            Loading.show();
            refreshApps(function(){
                Loading.hide();
            },function(){
                Loading.hide();
                scroll.addClass("error");
                scroll.child(".wrapper").empty();
                scroll.refresh();
                scroll.scrollTo(0,0,0);
            },false,option);
        }
        page.child(".fixed_tool").bind("click",function(e){
            switch (e.target.className){
                case "listStyle":
                        scroll.toggleClass("grid");
                        scroll.refresh();
                    break;
                case "top":scroll.scrollTo(0,0,300);
                    break;
            }
        });

        page.bind("backbutton",function(e){
            if(Loading.visibile){
                Loading.hide();
                service.abort();
            }
            if(menu.hasAttribute("data-menu") && e.origin == "device"){
                e.preventDefault();
                menu.close();
            }
        });
    </script>
</head>
<body>
<div id="appCenter" class="ui_container">
    <header data-role="header">
        <button class="left back">返回</button>
        <h1 x-page="title"></h1>
        <button class="right" onclick="xmesh.act('search')">搜索</button>
    </header>
    <div data-role="content">
        <div class="menu">
            <div data-box="h" class="radio">
                <button data-flex="2" data-type="classify">分类</button>
                <button data-flex="2" data-type="order">排序</button>
            </div>
            <nav id="classify"></nav>
            <nav id="order">
                <div data-box="h">
                    <button class="recommend" name="按推荐度" data-var="2"><span class="icon"></span><label>按推荐度</label></button>
                    <button class="publishDate" name="按上架时间" data-var="1"><span class="icon"></span><label>按上架时间</label></button>
                </div>
            </nav>
        </div>
        <xtag:ScrollPane id="appList" class="appList">
            <div class="wrapper"></div>
            <div id="pull_refresh"></div>
        </xtag:ScrollPane>
        <div class="fixed_tool">
            <button class="listStyle"></button>
            <button class="top"></button>
        </div>
    </div>
</div>
<xtag:template data-role="template">
    <div class="appItem button" data-box="h">
        <div data-flex="1" class="icon">
            <img class="lazy" data-property="icon"/>
        </div>
        <div data-flex="5" class="info" data-box="v">
            <div class="name" data-property="name" data-flex="2"></div>
            <div class="updateTime" data-flex="1">最近更新：<span data-property="updateDate"></span></div>
            <div class="hearts" data-star="${grade}" data-flex="1"></div>
        </div>
    </div>
    <button class="filter_button" name="${name}" data-var="${id}" data-id="${id}"><span class="icon"></span><label data-property="name"></label></button>
</xtag:template>
</body>
</html>