<!DOCTYPE html>
<html>
<head>
    <title>设置</title>
    <link rel="stylesheet" href="res/setting.css"/>
    <script>
        var page = this;
        var setting = xmesh.model["Setting"];
        var themeManager = xmesh.model["ThemeManager"],themeSelect = page.child("#theme");
        (function initComponent(){
            for(var k in themeManager.themes){
                var theme = themeManager.themes[k];
                var option = $.Element("option").attribute("value",theme.id).html(theme.name);
                if(themeManager.currentTheme && themeManager.currentTheme.id == theme.id)option.selected = true;
                themeSelect.append(option);
            }
            var _page = _$(page);
            _page.find("select").each(function(i,item){
                syncHTML.call(item);
            }).bind("change",syncHTML).bind("x-ondata",syncHTML);
            function syncHTML(){
                var html = "";
                for(var i=0;i<this.length;i++){
                    if(this[i].selected)html = this[i].innerHTML;
                }
                var labels = this["labels"] || _page.find("label[for='"+this.id+"']");
                _$.each(labels,function(i,label){
                    label.innerHTML = html;
                });
            }
            _page.find(".label[for]").each(function(i,item){
                item.bind("click",function(){
                    var checkBox = page.child("input#"+this.getAttribute("for"));
                    checkBox.checked = !checkBox.checked;
                    checkBox.trigger($.Event("change"));
                });
            });
        })();
        themeSelect.bind("change",function(){
            themeManager.setTheme(this.value);
        });
        page.child("#forceRefreshUI").bind("change",function(){
            if(this.checked)RefreshTool.start();
            else RefreshTool.stop();
        });
        var updateInfo = xmesh.model["ApplicationManager"].clientUpdateInfo;
        if(updateInfo){
            page.child("#update").addClass("update").resData = updateInfo;
        }
        page.child(".other #update").bind("click",function(){
            if(this.hasClass("update")){
                _onUpdate();
            }else{
                service.busynessMessage = "检查更新...";
                xmesh.model["ApplicationManager"].checkClientUpdate(function(){
                    if(xmesh.model["ApplicationManager"].clientUpdateInfo){
                        _onUpdate();
                    }else{
                        Dialog.toast("您的客户端是最新版本");
                    }
                },function(){
                    Dialog.toast("检查更新失败");
                })
            }
            function _onUpdate(){
                var data = xmesh.model["ApplicationManager"].clientUpdateInfo;
                Dialog.confirm("最新版本:"+data["VERSION"]+"\r\n" + "更新内容:"+data["VERSION_INFO"],function(){
                    navigator.app.openUrl(data["PACKAGE_URL"]);
                },null,"检查到更新")
            }
        });
        page.child(".other .about").bind("click",function(){
            xmesh.act("about");
        });
    </script>
</head>
<body>
<div class="ui_container" id="setting">
    <header data-role="header">
        <button class="left back">返回</button>
        <h1 x-page="title"></h1>
        <button class="right" onclick="xmesh.act('about')">关于</button>
    </header>
    <div data-role="content" data-box="v">
        <xtag:ScrollPane id="sroller" useTransform="false" data-flex="1">
            <dl class="system">
                <dt>系统设置</dt>
                <dd>
                    <div>
                        <h1>下载线程数</h1>
                        <label>允许同时下载的任务数量（重启生效）</label>
                    </div>
                    <div class="button">
                        <select id="maxDownloadThreads" x-field="Setting.maxThreads">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <div class="label">
                            <label for="maxDownloadThreads"></label>
                            <span class="arrow"></span>
                        </div>
                    </div>
                </dd>
                <dd>
                    <div>
                        <h1>主题</h1>
                        <label>更改程序的UI视觉风格</label>
                    </div>
                    <div class="button">
                        <select id="theme" x-field="Setting.theme"></select>
                        <div class="label">
                            <label for="theme"></label>
                            <span class="arrow"></span>
                        </div>
                    </div>
                </dd>
                <dd>
                    <div>
                        <h1>自动检查更新</h1>
                        <label>启动时检查更新客户端和应用</label>
                    </div>
                    <div class="button">
                        <input id="autoUpdate" type="checkbox" x-field="Setting.autoUpdate"/>
                        <div class="label" for="autoUpdate">
                            <span class="checkBox"></span>
                        </div>
                    </div>
                </dd>
                <dd>
                    <div>
                        <h1>声音</h1>
                        <label>按键提示音和摇一摇等交互提示音</label>
                    </div>
                    <div class="button">
                        <input id="sound" type="checkbox" x-field="Setting.sound"/>
                        <div class="label" for="sound">
                            <span class="checkBox"></span>
                        </div>
                    </div>
                </dd>
                <dd class="onlyAndroid">
                    <div>
                        <h1>显示native应用</h1>
                        <label>在主界面显示本地安装的Native应用(重启生效)</label>
                    </div>
                    <div class="button">
                        <input type="checkbox" id="showNativeApp" x-field="Setting.showNativeApp"/>
                        <div class="label" for="showNativeApp">
                            <span class="checkBox"></span>
                        </div>
                    </div>
                </dd>
                <dd>
                    <div>
                        <h1>摇一摇</h1>
                        <label>调节摇一摇灵敏度</label>
                    </div>
                    <div class="button">
                        <select id="shack" x-field="Setting.shakeLevel">
                            <option value="0">轻轻摇</option>
                            <option value="1">正常摇</option>
                            <option value="2">用力摇</option>
                            <option value="3">惊天动地摇</option>
                        </select>
                        <div class="label">
                            <label for="shack"></label>
                            <span class="arrow"></span>
                        </div>
                    </div>
                </dd>
                <dd class="important">
                    <div>
                        <h1>强制重绘</h1>
                        <label>改善部分设备UI渲染卡顿、假死等现象(会消耗系统资源,慎用)</label>
                    </div>
                    <div class="button">
                        <input type="checkbox" id="forceRefreshUI" x-field="Setting.forceRefreshUI"/>
                        <div class="label" for="forceRefreshUI">
                            <span class="checkBox"></span>
                        </div>
                    </div>
                </dd>
            </dl>
            <dl class="other">
                <dt>其他</dt>
                <dd class="button" id="update">
                    <div><h1>客户端更新</h1></div>
                </dd>
                <dd class="button about">
                    <div><h1>关于xPortal</h1></div>
                </dd>
            </dl>
        </xtag:ScrollPane>
    </div>
</div>
</body>
</html>