<!DOCTYPE html>
<html>
<head>
    <title>摇一摇</title>
    <link rel="stylesheet" href="res/shake.css"/>
    <script>
        var page = this;
        var temp = page.child("[data-role='template']");
        var scroll = page.child("#scroll");

        document.bind("shake",onShake);
        var lastShakeTime;
        var getting = false;
        function onShake(){
            if(getting)return;
            var currentTime = Date.now();
            if(lastShakeTime && currentTime-lastShakeTime<2000){
                return;
            }
            lastShakeTime = currentTime;
            getRandomAppList();
            XAudio.SOUNDS.SHAKE.play();
        }
        var levels = [800,2000,3800,6000];
        var canShake = document.startListenShake(levels[xmesh.model["Setting"].shakeLevel]);
        if(!canShake){
            Dialog.alert("您的设备不支持摇一摇功能",function(){
                xmesh.back();
            })
        }
        page.bind("hide",function(){
            document.stopListenShake();
            document.unbind("shake",onShake);
        });
        page.bind("show",function(){
            document.bind("shake",onShake);
        });
        function getRandomAppList(){
            Loading.show(Loading.CENTER);
            var container = scroll.child(".list").html("<span></span>");
            var am = xmesh.model["ApplicationManager"];
            am.getRandomAppsOnline(10,function(apps){
                Loading.hide();
                container.empty();
                apps.forEach(function(app){
                    if(am.isInstalled(app))return;
                    temp.get(".appItem",app).appendTo(container).bind("click",function(){
                        xmesh.act('appDetail',app);
                    });
                });
                scroll.refresh();
                XAudio.SOUNDS.SUCCESS.play();
            },function(){
                Loading.hide();
                container.empty();
                Dialog.toast("什么也没摇到");
                scroll.refresh();
            });
        }
    </script>
</head>
<body>
<div id="shake" class="ui_container">
    <header data-role="header">
        <button class="left back">返回</button>
        <h1 x-page="title"></h1>
        <div class="right"></div>
    </header>
    <div data-role="content">
        <xtag:ScrollPane id="scroll">
            <ul class="list">
                <li class="default">
                    <div class="shake_icon"></div>
                    <div class="shake_tip">请晃动你的手机</div>
                </li>
            </ul>
        </xtag:ScrollPane>
    </div>
</div>
<xtag:template data-role="template">
    <div class="appItem button" data-box="h">
        <div data-flex="1" class="icon">
            <img data-property="icon"/>
        </div>
        <div data-flex="5" class="info" data-box="v">
            <div class="name" data-property="name" data-flex="2"></div>
            <div class="updateTime" data-flex="1">最近更新：<span data-property="updateDate"></span></div>
            <div class="hearts" data-star="${grade}" data-flex="1"></div>
        </div>
    </div>
</xtag:template>
</body>
</html>